<div class="container">

  <h3>Informe tiendas</h3>

  <form class="form">
    <mat-form-field>
      <input matInput
             type="date"
             class="fechainicio"
             name="fechaincio"
             [(ngModel)]="fechaInicio"
             (ngModelChange)="getDashboardData()"
             placeholder="Fecha Desde" >
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="date"
             class="fechafin"
             name="fechafin"
             [(ngModel)]="fechaFin"
             (ngModelChange)="getDashboardData()"
             placeholder="Fecha Hasta" >
    </mat-form-field>
  </form>

  <mat-tab-group #tabGroup (selectedTabChange)="setDataSource()" [selectedIndex]="selectedIndex" >


      <mat-tab id="envios" label="Envios">
        <div class="tab">
        <table mat-table #sortEnvios="matSort" [dataSource]="datosTablaEnvios" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID tienda </th>
            <td mat-cell *matCellDef="let envios"> {{envios.nro}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let envios"> {{envios.nombre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayTiendas"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayTiendas"></tr>

        </table>
        <mat-paginator #paginatorEnvios="matPaginator" [pageSize]="5" [pageSizeOptions]="[3,5]">
        </mat-paginator>
        </div>
      </mat-tab>



      <mat-tab id="recepciones" label="Recepciones">
        <div class="tab">
        <table mat-table #sortRecepciones="matSort" [dataSource]="datosTablaRecepciones" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID tienda </th>
            <td mat-cell *matCellDef="let recepciones"> {{recepciones.nro}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let recepciones"> {{recepciones.nombre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayTiendas"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayTiendas"></tr>

        </table>
        <mat-paginator #paginatorRecepciones="matPaginator" [pageSize]="5" [pageSizeOptions]="[3,5]">
        </mat-paginator>
        </div>
      </mat-tab>

  </mat-tab-group>

  <div class="totales">
    <h2 class="mat-h2 total mat-elevation-z2">Total Enviado: {{totalEnviado}}</h2>
    <h2 class="mat-h2 total margen mat-elevation-z2">Total Recibido: {{totalRecibido}}</h2>
  </div>

</div>
