.form {
  width: 100%;
}

.mat-form-field{
  display: inline-block;
  width: 30%;
  min-width: 200px;
  margin-top: 1%;
  margin-left: 13%;
}

.grafico{
  width: 40% !important;
  margin-left: 6%;
  height: auto !important;
  display: inline-block;
}

.totales{
  text-align:center;
  position:relative;
  margin-top:2%;
}

.total {
  text-align: center;
  display: inline-block;
  padding: 2%;
  background: #fff;
}

.margen{
  margin-left: 5%;
}

mat-tab-group{
  width: 40%;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
}

.tab, table, mat-paginator{
  width: 100%;
}

