<h2 mat-dialog-title>Alta de Persona</h2>
<form #altapersona="ngForm">
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput
             type="text"
             name="nombre"
             placeholder="Nombre"
             [(ngModel)]="persona.nombre"
             required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="text"
             name="apellido"
             placeholder="Apellido"
             [(ngModel)]="persona.apellido"
             required/>

    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tipo documento"
                  name="tipoDoc"
                  required
                  [(ngModel)]="persona.tipoDoc">
        <mat-option value="DNI">DNI</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="number"
             name="documento"
             placeholder="documento"
             [(ngModel)]="persona.nroDoc"
             min="1"
             pattern="^[0-9]+"
             required/>

    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="date"
             name="fechanac"
             [(ngModel)]="persona.fecha_nacimiento"
             max="2019-04-13"
             required/>

    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="email"
             name="email"
             placeholder="Correo electronico"
             [(ngModel)]="persona.email"
             pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
             required/>

    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="w70">
    <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
    <button mat-button class="mat-raised-button mat-primary"
            (click)="onSubmit()"
            [disabled]="!altapersona.valid">Alta</button>
  </mat-dialog-actions>
</form>
