<div class="container">
  <h3>Alta de persona</h3>

  <form class="form" #altapersona="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre </label>
      <input type="text"
             name="nombre"
             placeholder="nombre"
             id="nombre"
             class="form-control "
             [(ngModel)]="persona.nombre"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="apellido">Apellido </label>
      <input type="text"
             name="apellido"
             placeholder="Apellido"
             id="apellido"
             class="form-control "
             [(ngModel)]="persona.apellido"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="tipodoc">Tipo </label>
      <select id="tipodoc"
              class="form-control"
              name="tipodoc"
              [(ngModel)]="persona.tipoDoc"
              #nombre="ngModel"
              required>
        <option>D.N.I</option>
        <option>CUIT</option>
        <option>CUIL</option>
        <option>L.E</option>
      </select>
    </div>
    <div>
      <label for="nrodoc">Numero </label>
      <input type="number"
             name="documento"
             placeholder="documento"
             id="nrodoc"
             class="form-control "
             [(ngModel)]="persona.nroDoc"
             #nombre="ngModel"
             min="1" pattern="^[0-9]+"
             required/>
    </div>
    <div>
      <label for="fechanac">Fecha de nacimiento</label>
      <input type="date"
             name="fechanac"
             id="fechanac"
             class="form-control "
             [(ngModel)]="persona.fecha_nacimiento"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="mail">Correo electronico </label>
      <input type="email"
             name="email"
             placeholder="correo electronico"
             id="mail"
             class="form-control "
             [(ngModel)]="persona.email"
             #nombre="ngModel"
             pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
             required/>
    </div>
      <button class="btn-wlm"
           type="submit"
           [disabled]="!altapersona.valid">
        Continuar
      </button>

  </form>
</div>
