<header>
  <a [routerLink]="['/home']" ><img src="assets/img/walm.jpg" class="logo-wmt" alt="Logo walmart"></a>
  <strong>Sector Bienes <br>Intercambiables</strong>
  <ul id="menu" *ngIf="loggedIn">
    <li class="sub"><a>Administracion</a>
      <ul>
        <li *ngIf="permisoPersona">
          <a [routerLink]="['home/adm/personas']">Personas</a>
        </li>
        <li *ngIf="permisoUsuario">
          <a [routerLink]="['home/adm/usuarios']">Usuarios</a>
        </li>
        <li *ngIf="permisoRol">
          <a [routerLink]="['home/adm/roles']">Roles</a>
        </li>
      </ul>
    </li>
    <li *ngIf="permisoMovimiento">
      <a [routerLink]="['home/movimientos']">Movimientos</a>
    </li>
    <li class="sub"><a>Informes</a>
      <ul>
        <li *ngIf="permisoInforme">
          <a [routerLink]="['home/informeStock']">Stock</a>
        </li>
        <li *ngIf="permisoInformeTiendas">
          <a [routerLink]="['home/informeTienda']">Tiendas</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="logout" (click)="logOut($event)"><mat-icon>exit_to_app</mat-icon></a>
    </li>
</ul >

</header>
  <div class="flotante" *ngIf="username !==''">Usuario: {{username}}</div>
<router-outlet></router-outlet>
