ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0055ba;
  height: auto;
text-align: right;
margin-left: 20%;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logout{
  cursor: pointer;
  color: white;
}
#menu li a:hover{
  background-color: #D5D4CD;
}

#menu li{
  height: auto;
  min-height: 52px;
  vertical-align: center;
  color: white;
  cursor: pointer;
}

ul#menu li ul{
  display: none;
  position: absolute;
  top: 0px;
  background-color: #104382;
  color: white;
  padding: 0px 0px 5px 5px;
  margin: 0;
}
ul#menu li.sub a:hover {
  display: none;
}
#menu li ul:hover{
  display: grid;
  width: 15%;
}
ul#menu li:hover ul,ul#menu li:hover ul li, ul#menu li:hover ul li a{
  display : grid;
  cursor: pointer;
}

strong{
  color: white;
  font-family: 'Bogle';
}

ul#menu li:hover ul li a:hover{
    background-color: #D5D4CD;
}

header {
  display :flex;
}
