<h3 class="mat-dialog-title">Alta de roles</h3>
<div class="mat-dialog-content">
  <form class="form" #altarol="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre de rol </label>
      <input type="text"
             name="nombre"
             placeholder="nombre del rol"
             id="nombre"
             class="form-control "
             [(ngModel)]="rol.nombre"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="descripcion">Descripcion del rol </label>
      <input type="text"
             name="descripcion"
             placeholder="descripcion del rol"
             id="descripcion"
             class="form-control "
             [(ngModel)]="rol.descripcion"
             #nombre="ngModel"
             required/>
    </div>
      


    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-button (click)="onSubmit()" cdkFocusInitial [disabled]="!altarol.valid">Confirmar</button>
    </div>
  </form>
</div>
