
<h2 mat-dialog-title>Alta de rol</h2>
<form #altarol="ngForm">
  <mat-dialog-content fxLayout="column">

    <mat-form-field fxFlex>
        <input matInput
               placeholder="Nombre"
               required               
               name="nombre"
               [(ngModel)]="rol.nombre">
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder=" Descripcion"
               required
               name="descripcion"
               [(ngModel)]="rol.descripcion"
               >
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
    <button mat-button class="mat-raised-button mat-primary"
            (click)="onSubmit()"
            [disabled]="!altarol.valid">Alta</button>
  </mat-dialog-actions>
</form>
