<div class="container">
  <h3>Alta de roles</h3>

  <form class="form" #altarol="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre de rol </label>
      <input type="text"
             name="nombre"
             placeholder="nombre del rol"
             id="nombre"
             class="form-control "
             [(ngModel)]="rol.nombre"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="descripcion">Descripcion del rol </label>
      <input type="text"
             name="descripcion"
             placeholder="descripcion del rol"
             id="descripcion"
             class="form-control "
             [(ngModel)]="rol.descripcion"
             #nombre="ngModel"
             required/>
    </div>
      <button class="btn-wlm"
           type="submit"
           [disabled]="!altarol.valid">
        Continuar
      </button>

  </form>
</div>
