table{
  text-align: left;
  width: 100%;
  min-width: 100px;
}
/*CLASES CUSTOM BOTONES ARRIBAS DE TABLA*/
.button-back{
  width: 30%;
  text-align: left;
  padding-left: 5%;
}

.input-search{
  width: 40%;

}

.button-alta{
  width: 20%;
  text-align: right;
  padding-left: 5%;
}
