<div class="container">

  <h3>Informe stock</h3>

  <form class="form">
    <mat-form-field class="w70 mat-local"><!--Locales-->
      <input type="text" placeholder="Local" aria-label="Number" matInput [formControl]="myControlLocales"
             [matAutocomplete]="autoLocal" name="nroLocal" [(ngModel)]="selectedLocal" (ngModelChange)="onChangeLocal()">
      <mat-autocomplete #autoLocal="matAutocomplete">
        <mat-option *ngFor="let local of filteredLocales | async" [value]="local.nombre">
          {{local.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w70 mat-bien"><!--Bienes intercambiables-->
      <input type="text" placeholder="Bien" aria-label="Number" matInput [formControl]="myControlBienes"
             [matAutocomplete]="autoBien" name="tipoBien" [(ngModel)]="selectedBien" (ngModelChange)="onChangeBien()">
      <mat-autocomplete #autoBien="matAutocomplete">
        <mat-option *ngFor="let bien of filteredBienes | async" [value]="bien.descripcion">
          {{bien.descripcion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="grafico">
    <canvas id="doughnutChart"></canvas>
  </div>

</div>
