.form {
  width: 100%;
}

.mat-local{
  display: inline-block;
  width: 30%;
  margin-left: 0%;
  min-width: 200px;
  margin-top: 1%;
}

.mat-bien{
  display: inline-block;
  width: 30%;
  margin-left: 10%;
  min-width: 200px;
  margin-top: 1%;
}

table{
  width: 50%;
  min-width: 200px;
  margin-left: 0%;
  margin-top: 1%;
  text-align: left;

}

.grafico{
  width: 50% !important;
  height: auto !important;
}
