.form {
  width: 100%;
}

.mat-local{
  display: inline-block;
  width: 30%;
  margin-left: 13%;
  min-width: 200px;
  margin-top: 1%;
}

.mat-bien{
  display: inline-block;
  width: 30%;
  margin-left: 13%;
  min-width: 200px;
  margin-top: 1%;
}

.grafico{
  width: 50% !important;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}
