
<div class="mat-elevation-z8 margin contenedor">
  <div fxLayout fxLayoutAlign="left center">
    <button class="button-back" mat-icon-button color="primary" (click)="redirectToHome()">
      <mat-icon class="mat-18" >arrow_back_ios</mat-icon> Atras
    </button>
    <h3>Listado de stock</h3>
    <button class="button-xls" mat-icon-button color="primary" (click)="exportAsExcel()">
      <mat-icon class="mat-18" >cloud_download</mat-icon> Descargar informe
    </button>
  </div>

  <form #informemovimiento="ngForm" >
    <mat-form-field class="mat-local">
      <input type="text"
             placeholder="Bien"
             aria-label="text"
             matInput [formControl]="formBi"
             [matAutocomplete]="bi"
             name="bi">
      <mat-autocomplete #bi="matAutocomplete">
        <mat-option *ngFor="let bi of obserBi | async" [value]="bi.descripcion" matTooltip="{{bi.descripcion}}">
          {{bi.descripcion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="text"
             placeholder="Local"
             aria-label="text"
             matInput [formControl]="formLocal"
             [matAutocomplete]="lo"
             name="lo">
      <mat-autocomplete #lo="matAutocomplete">
        <mat-option *ngFor="let lo of obserLocal | async" [value]="lo.denominacion" matTooltip="{{lo.denominacion}}">
          {{lo.denominacion}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock ocupado Min"
             aria-label="text"
             [(ngModel)]="stockOcupadoMin"
             matInput
             name="somin">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock ocupado Max"
             aria-label="text"
             [(ngModel)]="stockOcupadoMax"
             matInput
             name="somax">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock libre Min"
             aria-label="text"
             [(ngModel)]="stockLibreMin"
             matInput
             name="slmin">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock libre Max"
             aria-label="text"
             [(ngModel)]="stockLibreMax"
             matInput
             name="slmax">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock reservado Min"
             aria-label="text"
             [(ngModel)]="stockReservadoMin"
             matInput
             name="srmin">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock reservado Max"
             aria-label="text"
             [(ngModel)]="stockReservadoMax"
             matInput
             name="srmax">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock destruido Min"
             aria-label="text"
             [(ngModel)]="stockDestruidoMin"
             matInput
             name="sdmin">
    </mat-form-field>

    <mat-form-field class="mat-local">
      <input type="number"
             placeholder="Stock destruido Max"
             aria-label="text"
             [(ngModel)]="stockDestruidoMax"
             matInput
             name="sdmax">
    </mat-form-field>

    <button mat-button class="mat-raised-button mat-primary mat-local"
            (click)="submitSearch()">Buscar</button>

  </form>

    <mat-table #sortStock="matSort" [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
      <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
    </ng-container>

    <ng-container matColumnDef="local">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="bien">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bien </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcionBI}} </td>
    </ng-container>

    <ng-container matColumnDef="stocklibre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Libre </th>
      <td mat-cell *matCellDef="let element"> {{element.stock_libre}} </td>
    </ng-container>

    <ng-container matColumnDef="stockocupado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Ocupado </th>
      <td mat-cell *matCellDef="let element"> {{element.stock_ocupado}} </td>
    </ng-container>

    <ng-container matColumnDef="stockreservado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Reservado </th>
      <td mat-cell *matCellDef="let element"> {{element.stock_reservado}} </td>
    </ng-container>

    <ng-container matColumnDef="stockdestruido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Destruido </th>
      <td mat-cell *matCellDef="let element"> {{element.stock_destruido}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  <mat-paginator #paginatorStock="matPaginator" [pageSize]="30" [pageSizeOptions]="[10, 20, 30, 50, 100]">
  </mat-paginator>


</div>
