h4{
  text-align: center;
  font-size: 8;
  font-family: Myriad-Pro;
}
form label{
  display: flex;
}
form label input{
  width: 40%;
  margin-left: auto;
}

div label{
  margin-top: 5%;
  margin-left: 20%;
  width: 30%;
  text-align: center;
  font-family: Myriad-Pro;
}
