<h2 mat-dialog-title>Modificar Usuario</h2>
<mat-checkbox [(ngModel)]="cambiaContrasenia" >Cambiar contraseña</mat-checkbox>

<div *ngIf="cambiaContrasenia">
  <h2 mat-dialog-title>Cambiar contraseña</h2>
      <mat-form-field class="w70" fxFlex >
        <input matInput
               placeholder=" Contraseña"
               required="!cambiaContrasenia"
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="usuario.password"
               >
    </mat-form-field>
    <mat-form-field class="w70" fxFlex >
        <input matInput
               placeholder=" Vuelva a ingresar su contraseña"
               required="!cambiaContrasenia"
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="passwordCheck"
               >
    </mat-form-field>
</div>

<h2 mat-dialog-title>Asignar roles</h2>
    <mat-form-field >
      <mat-select multiple placeholder="Roles"
                  name="Roles"
                  [(ngModel)]="rolesSeleccionados">
          <mat-option *ngFor="let cr of roles"
                      (click)="cr.asignado = !cr.asignado"
                      [value]="cr">{{cr.rol.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
      <button mat-button class="mat-raised-button mat-primary"
              (click)="onSubmit()"
              [disabled]="(cambiaContrasenia && usuario.password !== passwordCheck) ">Modificar</button>
    </mat-dialog-actions>

<div class="container">
