/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: #FBF5EA;
}



header{
  background-color: #0055ba;
}

.logo-wmt{
  width: 100%;
  max-width: 150px;
  height: auto;
}

.font-title{
  font-family: Myriad Pro;
  color: #333;
  text-align: center;
}
