/* You can add global styles to this file, and also import other style files */
@import 'assets/reset.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/forms.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


body{
  background-color: #FBF5EA;
}

.margin{
  margin: 1%;
}


div.flotante{
  position:fixed;
  top:10vh;
  right:15px;
  background-color:#0055ba;
  color:white;
  box-shadow:0 0 15px #6E6E6E;
  padding:4px;
  border-radius:6px;
}


header{
  background-color: #0055ba;
}

.logo-wmt{
  width: 100%;
  max-width: 140px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.w70{
  width: 70%;
  margin-left: 15%;
}


.btn-wlm{
  border: none;
  background-color: #0055ba;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
/* Formularios */


input:disabled {
  background: #ccc;
}
button:disabled {
  background: #ccc;
}

.sm-width{
  min-width: 74px;
  width: 17%;
}
.md-width{
  min-width: 150px;
  width: 30%;
}
.lg-width{
  min-width: 240px;
  width: 70%;
}




h3 {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-family: "Myriad Pro"
  }
  mat-dialog-content {
    display: flex !important;
    flex-direction: column;
  }
