<div class="container">
  <h3>Modificacion/Eliminacion de usuario</h3>

  <ul>
    <li>Nombre de usuario</li>
    <li>Nombre</li>
    <li>Apellido</li>
    <li>Mail</li>
    <li>Documento</li>
    <li>Eliminar</li>
    <li>Modificar</li>
  </ul>
  <ul *ngFor="let usuario of usuarios">
      <li>{{usuario.nombreUsuario}}</li>
      <li>{{usuario.persona.nombre}}</li>
      <li>{{usuario.persona.apellido}}</li>
      <li>{{usuario.persona.email}}</li>
      <li>{{usuario.persona.nroDoc}}</li>
      <li><input type="button"
            name="eliminar"
            value="Eliminar"
            (click)="deleteUser(usuario)">
      </li>
      <li><a [routerLink]="['/home/gestion/usuarios/adm', usuario.nombreUsuario]"><span>Modificar Usuario</span></a>
      </li>

  </ul>

</div>
