.form {
  width: 100%;
}

.mat-form-field{
  display: inline-block;
  width: 30%;
  min-width: 200px;
  margin-top: 1%;
  margin-left: 13%;
}

.grafico{
  width: 50% !important;
  height: auto !important;
}

.totales{
  text-align:center;
  position:relative;
}

.total {
  text-align: center;
  display: inline-block;
  padding: 2%;
}

.margen{
  margin-left: 5%;
}

