.container {
  display: block;
}

.logoText {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
    text-align: left;
    margin-left: 0%;
    margin-right: 2%;
    padding-left: 3%;
    width: auto;
}

#spark-img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 5%;
}

input {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 30%;
  padding: 10px;
  display: block;

}

form{
  padding-top: 5%;
}
