
<h2 mat-dialog-title>Alta de Usuario</h2>

<form #altausuario="ngForm">
  <mat-dialog-content fxLayout="column">
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder="Numero de documento"
               required
               name="nroDoc"
               [(ngModel)]="user.persona.nroDoc">
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder="Nombre"
               required
               name="nombre"
               [(ngModel)]="user.nombreUsuario">
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder=" Contraseña"
               required
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="user.password"
               >
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder=" Vuelva a ingresar su contraseña"
               required
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="passwordCheck"
               >
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions class="w70">
    <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
    <button mat-button class="mat-raised-button mat-primary"
            (click)="onSubmit()"
            [disabled]="!altausuario.valid && (user.password !== passwordCheck)">Alta</button>
  </mat-dialog-actions>
</form>
