<div class="container"a>

  <form class="form"
        #altausuario="ngForm"
        (ngSubmit)="onSubmit()">


    <div>
      <label for="nombre">Nombre de usuario</label>
      <input type="text"
             name="nombre"
             placeholder="nombre de usuario"
             id="nombre"
             class="form-control "
             [(ngModel)]="user.nombre"
             #nombre="ngModel"
             required/>
    </div>
    <div>
      <label for="pass">Contraseña</label>
      <input type="password"
             name="pass"
             placeholder="contraseña"
             id="pass"
             class="form-control "
             [(ngModel)]="user.password"
             #nombre="ngModel"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             required/>
    </div>
    <div>
      <label for="pass2">Confirmar contraseña </label>
      <input type="password"
             name="pass2"
             placeholder="vuelva a ingresar su contraseña"
             id="pass2"
             class="form-control "
             [(ngModel)]="passwordCheck"
             #nombre="ngModel"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             required/>
    </div>

    <button class="btn-wlm"
            type="submit"
            [disabled]="passwordCheck !== user.password ">
      Confirmar
    </button>
  </form>

</div>
