
<h2 mat-dialog-title>Alta de Usuario</h2>

<form #altausuario="ngForm">
  <mat-dialog-content fxLayout="column">


    <div class="persona">
      <mat-form-field class="doc-search" fxFlex>
          <input matInput
                 type="number"
                 patter="\d*"
                 placeholder="Numero de documento"
                 required
                 name="nroDoc"
                 [(ngModel)]="user.persona.nroDoc">

      </mat-form-field>
      <button mat-button (click)="onAltaPersona()">
        Alta de persona
      </button>
    </div>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder="Nombre"
               required
               name="nombre"
               [(ngModel)]="user.nombreUsuario">
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder=" Contraseña"
               required
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="user.password"
               >
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
        <input matInput
               placeholder=" Vuelva a ingresar su contraseña"
               required
               type="password"
               title="La contraseña debe tener caracteres en mayusculas, minusculas y numeros"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
               name="contraseña"
               [(ngModel)]="passwordCheck"
               >
    </mat-form-field>
    <mat-form-field class="w70" fxFlex>
      <input type="text"
             placeholder="Local"
             aria-label="Number"
             matInput
             [formControl]="localForm"
             [matAutocomplete]="autoLocal"
             [(ngModel)]="selectedLoca"
             (ngModelChange)="refreshLoca()"
             required>
         <mat-autocomplete #autoLocal="matAutocomplete">
         <mat-option *ngFor="let t of localFilter | async" [value]="t.denominacion">
           {{t.denominacion}}
         </mat-option>
       </mat-autocomplete>
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions class="w70">
    <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
    <button mat-button class="mat-raised-button mat-primary"
            (click)="onSubmit()"
            [disabled]="selectedLoca === '' || !altausuario.valid  || (user.password !== passwordCheck)">Alta</button>
  </mat-dialog-actions>
</form>
