.ng-valid[required], .ng-valid.required  {
  /*border-left: 5px solid #42A948; /* green */
  color: green;
}

.ng-invalid:not(form)  {
  /*border-left: 5px solid #a94442; /* red */
  color: red;
}

button{
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 30%;
  padding: 10px;
  display: block;
}
input, select {
  margin: 10px ;
  padding: 10px;
  display: block;
  width: 70%;
 }
 label{
  display: block;
  width: 30%;
 }

 form div {
     margin-bottom: 10px;
     display: flex;
     align-items: center;
 }
