<div class="mat-elevation-z8 margin">

<button class="button-back" mat-icon-button color="primary" (click)="redirectToHome()">
  <mat-icon class="mat-18" >arrow_back_ios</mat-icon> Atrás
</button>

<h3>Tipo de movimiento</h3>
  <form #altamovimiento="ngForm">
    <mat-form-field class="w70 mat-local">
      <input type="text"
             placeholder="Tipo movimiento"
             aria-label="Number"
             matInput [formControl]="formMovs"
             [matAutocomplete]="autoTipoMov"
             name="tipoMov"
             [(ngModel)]="select1"
             (ngModelChange)="onChangeMovimiento()">
      <mat-autocomplete #autoTipoMov="matAutocomplete">
        <mat-option *ngFor="let mov of movsFilter | async" [value]="mov.nombre">
          {{mov.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w70 mat-local">
      <input type="text" placeholder="Origen" aria-label="Number" matInput [formControl]="formOrig"
             [matAutocomplete]="autoOrig" name="orig" [(ngModel)]="select2" (ngModelChange)="onChangeOrigen()">
      <mat-autocomplete #autoOrig="matAutocomplete">
        <mat-option *ngFor="let orig of origFilter | async" [value]="orig.nombre">
          {{orig.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w70 mat-local">
      <input type="text" placeholder="Destino" aria-label="Number" matInput [formControl]="formDest"
             [matAutocomplete]="autoDest" name="destino" [(ngModel)]="select3"  (ngModelChange)="onChangeDestino()">
      <mat-autocomplete #autoDest="matAutocomplete">
        <mat-option *ngFor="let dest of destFilter | async" [value]="dest.nombre">
          {{dest.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      <button mat-button class="mat-raised-button mat-primary"
              (click)="onSubmit()"
              [disabled]="!altamovimiento.valid">Continuar</button>


  </form>
</div>
