.movimientos {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 10%;
  padding: 10px;
}

mat-form-field{
  margin-bottom: 1em;
  min-width: 250px;
}

.button-back{
  width: 30%;
  text-align: left;
}

.desactivado {
  background-color: #9494b8;
  color: white;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
