.movimientos {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 10%;
  padding: 10px;
}

mat-form-field{
  margin-bottom: 1em;
  min-width: 250px;
  width: 40%;
  margin-left: 30%;
}

.button-back{
  width: 30%;
  text-align: left;
}

form{
  margin: 3%;
}
form button{
  margin-left: 30%;
  margin-bottom: 1em;
  min-width: 250px;
  width: 40%;
}
