mat-form-field{
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  min-width: 200px;
}
table{
  width: 90%;
  min-width: 500px;
  margin-left: 4%;
  text-align: left;
}
.input-search{
  width: 40%;
  display: block;
}

mat-paginator{
  width: 90%;
  min-width: 500px;
  margin-left: 4%;
}
.center{
  margin-left: 25%;
  margin-right: 25%;
  width: 40%;
}
