div.contenedor{
overflow-y: scroll;
overflow-x: hidden;
}

.mat-local2{
  display: inline-block;
  width: 14vw;
  margin-left: 2vw;
}

.tabla{
  margin-top: 2px;
}

.btn-search{
  align: right;
}

div.stocks-grl-contenedor{
  display:flex;
  float: left;
}

.btn-s1{
  padding-top: 4.8%;
}

.stocks-contenedor mat-form-field{
  width: 7vw;
}

.stocks-contenedor p{
  margin: 0px 0px 0px 12%;
}
.mat-local{
  display: inline-block;
  width: 20%;
  margin-left: 2vw;
  float: right;
}
.midle{
  display:flex;
  width: 20vw;
}

form{
  margin-top:  60px;
}

form div.mat-expansion-panel-content{
  display:block;
}
mat-panel-description{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 100%;
}
mat-panel-title{
  white-space:nowrap;
}
mat-form-field{
  display: inline-block;
  width: 14vw;
  margin-left: 2vw;
}

.mat-column-nro{
  width: 10vw;
  max-width: 10vw;
}
.mat-column-proveedor{
  text-align: center;
  width: 35vw;
  max-width: 35vw;
}
.mat-column-bien{
  text-align: center;
  width: 35vw;
  max-width: 35vw;
}
.mat-column-deudaBulto{
  width: 10vw;
  max-width: 10vw;
}
.mat-column-deudaMonetaria{
  width: 10vw;
  max-width: 10vw;
}
