<h2 mat-dialog-title>Modificacion de Persona</h2>
<form #modificarpersona="ngForm">
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <input matInput
             type="text"
             name="nombre"
             placeholder="Nombre"
             [(ngModel)]="persona.nombre"
             required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="text"
             name="apellido"
             placeholder="Apellido"
             [(ngModel)]="persona.apellido"
             required/>

    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Tipo documento"
                  name="tipoDoc"
                  required
                  [(ngModel)]="persona.tipoDoc">
        <mat-option value="DNI">DNI</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="number"
             name="documento"
             placeholder="documento"
             [(ngModel)]="persona.nroDoc"
             min="1"
             pattern="^[0-9]+"
             required/>

    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="fechaNac"
             placeholder="Fecha de nacimiento"
             [value]="persona.fecha_nacimiento"
             disabled>
      <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
      <mat-datepicker #fechaNac disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="email"
             name="email"
             placeholder="Correo electronico"
             [(ngModel)]="persona.email"
             pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
             required/>

    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="w70">
    <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
    <button mat-button class="mat-raised-button mat-primary"
            (click)="onSubmit()"
            [disabled]="!modificarpersona.valid">Modificar</button>
  </mat-dialog-actions>
</form>
