<h3>Listado de movimientos</h3>
<form #informemovimiento="ngForm" >
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Bien"
           aria-label="text"
           matInput [formControl]="formBi"
           [matAutocomplete]="bi"
           name="bi">
    <mat-autocomplete #bi="matAutocomplete">
      <mat-option *ngFor="let bi of obserBi | async" [value]="bi.descripcion" matTooltip="{{bi.descripcion}}">
        {{bi.descripcion}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Estado del viaje"
           aria-label="text"
           matInput [formControl]="formEs"
           [matAutocomplete]="es"
           name="es">
    <mat-autocomplete #es="matAutocomplete">
      <mat-option *ngFor="let es of obserEs | async" [value]="es.descrip" matTooltip="{{es.descrip}}">
        {{es.descrip}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="number"
           placeholder="Cantidad BI"
           aria-label="text"
           [(ngModel)]="cantidadBi"
           matInput
           name="cbi">
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Recurso"
           aria-label="text"
           matInput [formControl]="formRe"
           [matAutocomplete]="re"
           name="re">
    <mat-autocomplete #re="matAutocomplete">
      <mat-option *ngFor="let re of obserRe | async" [value]="re.nroRecurso" matTooltip="{{re.nroRecurso}}">
        {{re.nroRecurso}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Destino"
           aria-label="text"
           matInput [formControl]="formAgD"
           [matAutocomplete]="de"
           name="de">
    <mat-autocomplete #de="matAutocomplete">
      <mat-option *ngFor="let de of obserAgD | async" [value]="de.denominacion" matTooltip="{{de.denominacion}}">
        {{de.denominacion}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Origen"
           aria-label="text"
           matInput [formControl]="formAgO"
           [matAutocomplete]="or"
           name="or">
    <mat-autocomplete #or="matAutocomplete">
      <mat-option *ngFor="let or of obserAgO | async" [value]="or.denominacion" matTooltip="{{or.denominacion}}">
        {{or.denominacion}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Transportista"
           aria-label="text"
           matInput [formControl]="formTp"
           [matAutocomplete]="tp"
           name="tp">
    <mat-autocomplete #tp="matAutocomplete">
      <mat-option *ngFor="let tp of obserTp | async" [value]="tp.nombre" matTooltip="{{tp.nombre}}">
        {{tp.nombre}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Tipo movimiento"
           aria-label="text"
           matInput [formControl]="formMo"
           [matAutocomplete]="mo"
           name="mo">
    <mat-autocomplete #mo="matAutocomplete">
      <mat-option *ngFor="let mo of obserMo | async" [value]="mo.nombre" matTooltip="{{mo.nombre}}">
        {{mo.nombre}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="date"
           placeholder="Fecha desde"
           aria-label="text"
           [ngModel]="fechaDesde | date:'yyyy-MM-dd'"
           (ngModelChange)="fechaDesde=  parseDate( $event)"
           matInput
           name="fd">
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="date"
           placeholder="Fecha hasta "
           aria-label="text"
           (ngModelChange)="fechaHasta= parseDate( $event)"
           [ngModel]="fechaHasta | date:'yyyy-MM-dd'"
           matInput
           name="fh">
  </mat-form-field>
  <mat-form-field class="mat-local">
    <input type="text"
           placeholder="Usuario alta"
           aria-label="text"
           [(ngModel)]="usuarioAlta"
           matInput
           name="ua">
  </mat-form-field>
  <button mat-button class="mat-raised-button mat-primary mat-local"
          (click)="submitSeach()">Buscar</button>

</form>
<div *ngIf="dsMov || movimientos">
  <mat-table [dataSource]="dsMov" matSort >

   <ng-container matColumnDef="nro">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
     <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
   </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

   <ng-container matColumnDef="tipo">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
     <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
   </ng-container>

    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
    </ng-container>

    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
      <td mat-cell *matCellDef="let element"> {{element.origen}} </td>
    </ng-container>

     <ng-container matColumnDef="estado">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
       <td mat-cell *matCellDef="let element"> {{element.estadoViaje}} </td>
     </ng-container>

     <ng-container matColumnDef="transport">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Transportista </th>
       <td mat-cell *matCellDef="let element"> {{element.transportista}} </td>
     </ng-container>
     <ng-container matColumnDef="usuario">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Alta </th>
       <td mat-cell *matCellDef="let element"> {{element.usuarioAlta}} </td>
     </ng-container>
     <ng-container matColumnDef="ver">
         <th mat-header-cell *matHeaderCellDef> Detalles </th>
         <td mat-cell *matCellDef="let element">
           <button mat-icon-button color="primary" (click)="showMovimiento(element)">
             <mat-icon class="mat-18" >remove_red_eye</mat-icon>
           </button>
         </td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </mat-table>
   <mat-paginator #pagiMov [pageSize]="3" [pageSizeOptions]="[2, 4, 6, 10, 20,30,50]">
   </mat-paginator>

</div>
<button mat-button class="mat-raised-button mat-primary mat-local"
        (click)="generarGraficos()">Graficar</button>
<div id="dg" class="generarGraficos">

</div>
