.mat-local2{
  display: inline-block;
  width: 14vw;
  margin-left: 2vw;
}
.midle{
  display:inline-block;
  width: 20vw;
}

form div.mat-expansion-panel-content{
  display:block;
}
mat-panel-description{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 100%;
}
mat-panel-title{
  white-space:nowrap;
}
mat-form-field{
  display: inline-block;
  width: 14vw;
  margin-left: 2vw;
}
form{
  margin-top:  20px;
}
.mat-column-nro
{
  width: 5vw;
  max-width: 5vw;
}
.mat-column-destino
{
  width:15vw;
 max-width:15vw;
}
.mat-column-origen
{
  width:15vw;
 max-width:15vw;
}
.mat-column-tipo
{
  width:15vw;
 max-width:15vw;
}
.mat-column-fecha
{
  width:10vw;
 max-width:10vw;
}
.mat-column-estado
{
  width:10vw;
 max-width:10vw;
}
.mat-column-usuario
{
  width:10vw;
 max-width:10vw;
}
.mat-column-transport
{
  width:10vw;
 max-width:10vw;
}

.mat-column-ver
{
  width:10vw;
  max-width:10vw;
}

.grafico{
  margin-left: 5vw;
  width: 40vw ;
  margin-left: 6%;
  height: 40vh;
  display: inline-block;
}
