.mat-local{
  display: inline-block;
  width: 14vw;
  margin-left: 2vw;
}
form{
  margin-top:  20px;
}
.mat-column-nro
{
  width: 5vw;
  max-width: 5vw;
}
.mat-column-destino
{
  width:15vw;
 max-width:15vw;
}
.mat-column-origen
{
  width:15vw;
 max-width:15vw;
}
.mat-column-tipo
{
  width:15vw;
 max-width:15vw;
}
.mat-column-fecha
{
  width:10vw;
 max-width:10vw;
}
.mat-column-estado
{
  width:10vw;
 max-width:10vw;
}
.mat-column-usuario
{
  width:10vw;
 max-width:10vw;
}
.mat-column-transport
{
  width:10vw;
 max-width:10vw;
}

.mat-column-ver
{
  width:10vw;
  max-width:10vw;
}
