.contenedorRecepcion {/*Contiene datosRecepcion, datosRecursos, datosBienes, confirmar*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 4fr 1fr;
  grid-template-areas: "barraSuperior"
                       "datosRecepcion"
                       "datosRecursosYdatosBienes"
                       "confirmar";
}

.barraSuperior {
  margin: 1px;
  border-bottom: 1px solid #0055ba;
  grid-area: barraSuperior;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: " atras tituloMovimiento ."
}

.datosRecepcion { /*boton-atras, Titulo, tipodoc, nrodoc, fecha*/
  margin: 1px;
  border-bottom: 1px solid #0055ba;
  border-top: 1px solid #0055ba;
  grid-area: datosRecepcion;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tituloRecepcion tituloRecepcion tituloRecepcion"
                       "tipoDocRecepcion nroDocRecepcion fechaRecepcion";
}

.datosRecursosYdatosBienes {
  grid-area: datosRecursosYdatosBienes;
  border-bottom: 1px double #0055ba;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "datosBienes datosRecursos"
}

.datosBienes {
  margin: 1px;
  border-top: 1px solid #0055ba;
  border-right: 1px solid #0055ba;
  border-bottom: 1px double #0055ba;
  grid-area: datosBienes;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "tituloBien agregarBien"
                       "tablaBien tablaBien";
}

.datosRecursos {
  margin: 1px;
  border-top: 1px solid #0055ba;
  border-left: 1px solid #0055ba;
  border-bottom: 1px double #0055ba;
  grid-area: datosRecursos;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "tituloRecurso agregarRecurso"
                       "tablaRecurso tablaRecurso";
}

.confirmar {
  grid-area: confirmar;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/*CONTENIDO barraSuperior*/
.button-back{
  grid-area: atras;
  left: 1em;
  width: 30%;
  text-align: left;
}

.tituloMovimiento {
  grid-area: tituloMovimiento;
  width: 100%;
  place-self: center stretch;
}

/*CONTENIDO datosRecepcion*/
.tituloRecepcion {
  grid-area: tituloRecepcion;
}

.tipoDocRecepcion {
  grid-area: tipoDocRecepcion;
}

.fechaRecepcion {
  grid-area: fechaRecepcion;
}

.nroDocRecepcion {
  grid-area: nroDocRecepcion;
}

/*CONTENIDO datosBienes*/
.tituloBien {
  grid-area: tituloBien;
  justify-self: center;
}

.agregarBien {
  grid-area: agregarBien;
  justify-self: center;
}

.tablaBien {
  grid-area: tablaBien;
}

/*CONTENIDO datosRecursos*/
.tituloRecurso {
  grid-area: tituloRecurso;
  justify-self: center;
}

.agregarRecurso {
  grid-area: agregarRecurso;
  justify-self: center;
}

.tablaRecurso {
  grid-area: tablaRecurso;
}

/*OTROS*/
h4 {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-family: "Myriad Pro"
}

input {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

mat-form-field {
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

table {
  text-align: center;
  max-width: 98%;
  min-width: 98%;
  justify-self:center;
}
