<div class="contenedorRecepcion">

  <div class="barraSuperior">

    <button class="button-back" mat-icon-button color="primary" (click)="goBack()">
      <mat-icon class="mat-18" >arrow_back_ios</mat-icon> Atrás
    </button>

    <h3 class="tituloMovimiento">Tipo de movimiento > Recepción</h3>

  </div>

  <div class="datosRecepcion">

    <h4 class="tituloRecepcion">Datos Recepción</h4>

    <mat-form-field class="tipoDocRecepcion">
      <mat-label>Tipo Documento</mat-label>
      <mat-select [(value)]="TipoDocumentoSelected">
        <mat-option *ngFor="let tipoDocumento of tipoDocumentos" [value]="tipoDocumento">
          {{tipoDocumento}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input type="number" class="form-control nroDocRecepcion" name="nroDocRecepcion" placeholder="ID Documento"/>

    <input type="date" class="form-control fechaRecepcion" name="fechaRecepcion" placeholder="Fecha Recepción"/>

  </div>

  <div class="datosRecursosYdatosBienes">

    <div class="datosBienes">

      <h4 class="tituloBien">Datos Bien</h4>

      <button class="agregarBien" mat-icon-button color="primary" (click)="onAgregarBien()">
        <mat-icon class="mat-18" >library_add</mat-icon> Agregar Bien
      </button>

      <table class="tablaBien">
        <mat-table [dataSource]="datosTablaBienes" matSort>

          <ng-container matColumnDef="tipoBien">
            <th mat-header-cell *matHeaderCellDef> Tipo bien </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.tipoBien}} </td>
          </ng-container>

          <ng-container matColumnDef="bien">
            <th mat-header-cell *matHeaderCellDef> Bien </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.bien}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoDoc">
            <th mat-header-cell *matHeaderCellDef> Tipo Doc. </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.tipoDoc}} </td>
          </ng-container>

          <ng-container matColumnDef="nroDoc">
            <th mat-header-cell *matHeaderCellDef> No.Doc. </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.nroDoc}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.cantidad}} </td>
          </ng-container>

          <ng-container matColumnDef="vacio">
            <th mat-header-cell *matHeaderCellDef> Vacio </th>
            <td mat-cell *matCellDef="let bienesAgregados"> {{bienesAgregados.vacio}} </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let bienesAgregados">
              <button mat-icon-button color="primary" (click)="deleteBien(bienesAgregados)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayBien"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayBien"></tr>

        </mat-table>

        <mat-paginator [pageSize]="4" [pageSizeOptions]="[2,4,6,10,20]">
        </mat-paginator>

      </table>

    </div>

    <div class="datosRecursos">

      <h4 class="tituloRecurso">Datos Recurso</h4>

      <button class="agregarRecurso" mat-icon-button color="primary" (click)="onAgregarRecurso()">
        <mat-icon class="mat-18" >library_add</mat-icon> Agregar Recurso
      </button>

      <table class="tablaRecurso">
        <mat-table [dataSource]="datosTablaRecursos" matSort>

          <ng-container matColumnDef="tipoRecurso">
            <th mat-header-cell *matHeaderCellDef> Tipo recurso </th>
            <td mat-cell *matCellDef="let recursosAgregados"> {{recursosAgregados.tipoRecurso}} </td>
          </ng-container>

          <ng-container matColumnDef="idRecurso">
            <th mat-header-cell *matHeaderCellDef> Recurso </th>
            <td mat-cell *matCellDef="let recursosAgregados"> {{recursosAgregados.idRecurso}} </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let recursosAgregados">
              <button mat-icon-button color="primary" (click)="deleteRecurso(recursosAgregados)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayRecurso"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayRecurso"></tr>

        </mat-table>

        <mat-paginator [pageSize]="4" [pageSizeOptions]="[2,4,6,10,20]">
        </mat-paginator>

      </table>

    </div>

  </div>

  <div class="confirmar">

    <input type="submit" class="btn btn-wlm" (click)="registrar()" id="login-button" value="Confirmar" />

  </div>

</div>
