<div class="container">
  <h3>Modificar rol</h3>
  <form class="form"
        #modificarrol="ngForm"
        (ngSubmit)="onSubmit()">

    <h4 >Cambiar datos</h4>
    <div >

      <label for="nombre">Nombre</label>
      <input type="text"
             name="nombre"
             placeholder="Nombre de rol"
             id="nombre"
             class="form-control "
             [(ngModel)]="rol.nombre"
             #nombre="ngModel"
             required
             />
    </div>
    <div >
      <label for="desc">descripcion</label>
      <input type="text"
             name="desc"
             placeholder="Descripcion de rol"
             id="desc"
             class="form-control "
             [(ngModel)]="rol.descripcion"
             #pass2="ngModel"
             required
             />
    </div>
    <h4 >Asignar Permisos</h4>
    <div >
      <label>No asignados</label>
      <label>Asignados</label>
    </div>
    <div >
      <select size="5" #PermisosNo>
          <option *ngFor="let permiso of permisosNoAsignados">{{permiso.nombre}}</option>
      </select>
      <ul>
        <li><input type="button" (click)="desasignarPermiso($event)" value="&#171;"/></li>
        <li><input type="button" (click)="asignarPermiso($event)" value="&#187;"/></li>
      </ul>
      <select  size="5" #PermisosSi>
          <option *ngFor="let permiso of permisosAsignados">{{permiso.nombre}}</option>
      </select>
    </div>
    <button class="btn-wlm"
            type="submit"_
            [disabled]= "!modificarrol.valid">
      Confirmar
    </button>

  </form>


</div>
