<h2 mat-dialog-title>Modificacion de rol</h2>
<form #modificacionrol="ngForm">
  <mat-dialog-content fxLayout="column">

    <mat-form-field fxFlex>
        <input matInput
               placeholder="Nombre"
               required
               name="nombre"
               [(ngModel)]="rol.nombre">
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput
               placeholder=" Descripcion"
               required
               name="descripcion"
               [(ngModel)]="rol.descripcion">
    </mat-form-field>


  </mat-dialog-content>


<h2 mat-dialog-title>Permisos</h2>
    <mat-form-field >
      <mat-select multiple placeholder="permisos"
                  name="Permisos"
                  [(ngModel)]="permisosSelecionados">
          <mat-option *ngFor="let cp of permisos"
                      (click)="cp.asignado = !cp.asignado"
                      [value]="cp">{{cp.permiso.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button class="mat-raised-button"(click)="onCancel()">Cancelar</button>
      <button mat-button class="mat-raised-button mat-primary"
              (click)="onSubmit()"
              [disabled]="!modificacionrol.valid">Modificar</button>
    </mat-dialog-actions>


</form>
