<div class="container">
  <h3>Modificacion/Eliminacion de usuario</h3>
  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>Email</th>
        <th>Eliminar</th>
        <th>Modificar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.nombreUsuario}}</td>
        <td>{{usuario.persona.nombre}}</td>
        <td>{{usuario.persona.apellido}}</td>
        <td>{{usuario.persona.email}}</td>
        <td>{{usuario.persona.nroDoc}}</td>
        <td><input type="button"
              name="eliminar"
              value="Eliminar"
              (click)="deleteUser(usuario)">
        </td>
        <td><a [routerLink]="['/home/gestion/usuarios/adm', usuario.nombreUsuario]"><span>Modificar Usuario</span></a>
        </td>
      </tr>
    </tbody>

  </table>

</div>
