.contenedorConfirmarDevolucion {/*Contiene datosConfirmacion, datosRecursos, datosBienes, confirmar*/
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 4fr 1fr;
  grid-template-areas: "barraSuperior"
                       "datosDevolucionAConfirmar"
                       "datosConfirmacion"
                       "confirmar";
}

.barraSuperior {
  margin: 1px;
  border-bottom: 1px solid #0055ba;
  grid-area: barraSuperior;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "atras titulo ."
}

.datosDevolucionAConfirmar { /*boton-atras, Titulo, tipodoc, nrodoc, fecha*/
  margin: 1px;
  border-bottom: 1px solid #0055ba;
  border-top: 1px solid #0055ba;
  grid-area: datosDevolucionAConfirmar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tituloDatos tituloDatos"
                       "tipoDoc idDoc"
                       "estado fecha";
}

.datosConfirmacion {
  margin: 1px;
  border-top: 1px solid #0055ba;
  border-bottom: 1px double #0055ba;
  grid-area: datosConfirmacion;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "tituloTabla agregarConfirmacion"
                       "tablaConfirmaciones tablaConfirmaciones";
}

.confirmar {
  grid-area: confirmar;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/*CONTENIDO barraSuperior*/
.button-back{
  grid-area: atras;
  left: 1em;
  width: 30%;
  text-align: left;
}

.titulo {
  grid-area: titulo;
  width: 100%;
  place-self: center stretch;
}

/*CONTENIDO datosDevolucionAConfirmar*/
.tituloDatos {
  grid-area: tituloDatos;
}

.tipoDoc {
  grid-area: tipoDoc;
}

.fecha {
  grid-area: fecha;
}

.idDoc {
  grid-area: idDoc;
}

/*CONTENIDO datosConfirmaciones*/
.tituloTabla {
  grid-area: tituloTabla;
  justify-self: center;
}

.agregarConfirmacion {
  grid-area: agregarConfirmacion;
  justify-self: center;
}

.tablaConfirmaciones {
  grid-area: tablaConfirmaciones;
}

/*OTROS*/
h4 {
  margin: 10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 90%;
  padding: 10px;
  text-align: center;
  font-family: "Myriad Pro"
}

input {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

mat-form-field {
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

table {
  text-align: left;
  max-width: 98%;
  min-width: 98%;
}
