<h2 mat-dialog-title >Agregar Bien</h2>

<form #agregarbien="ngForm" >
  <mat-dialog-content fxLayout="column">
    <mat-form-field class="w70 tipoBien">
      <mat-label>Bien</mat-label>
      <mat-select  name="tipoBien"
                   [(ngModel)]="selectedBien"
                  (ngModelChange)="onChangeBien()"
                   required>
        <mat-option *ngFor="let bien of bienes" [value]="bien">
          {{bien.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div *ngIf="selectedBien != null" >
      <mat-form-field class="w70">
        <mat-label>Estado</mat-label>
        <mat-select  name="estadoBien"
                     [(ngModel)]="itemMovimiento.estadoRecurso"
                     [value]= "itemMovimiento.estadoRecurso"
                     required
                     (ngModelChange)="onChangeEstado()">
        <mat-option *ngFor="let estado of estados" [value]="estado">
          {{estado.descrip}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="center" *ngIf="!esProveedor && eligioEstado">
        <p>{{cantidadBI}} Disponible/s en estado {{itemMovimiento.estadoRecurso.descrip}}</p>
      </div>
      <mat-form-field class="w70" *ngIf="tipoMovimiento.tipo !== 'ENVIOINTERCAMBIO'">
        <input matInput
               type="number"
               name="cantidad"
               placeholder="Cantidad"
               pattern="[0-9]+"
               title="Debe ingresar un número"
               [(ngModel)]="itemMovimiento.cantidad"
               required
               [formControl]="commonValidator"
               step="{{step}}"/>
        </mat-form-field>
        <mat-form-field class="w70" *ngIf="tipoMovimiento.tipo === 'ENVIOINTERCAMBIO'">
          <input matInput
                 type="number"
                 name="cantidad"
                 placeholder="Cantidad"
                 pattern="[0-9]+"
                 title="Debe ingresar un número"
                 [(ngModel)]="itemMovimiento.cantidad"
                 required
                 [formControl]="intercambioValidator"
                 step="{{step}}"/>
          </mat-form-field>
        <div class="center" *ngIf="selectedIntercambio && tipoMovimiento.tipo === 'ENVIOINTERCAMBIO'">
          <p>Intercambio de bienes en <strong>{{selectedIntercambio.cantidadEntregada}}x{{selectedIntercambio.cantidadRecibida}}</strong></p>
          <p>Entrega: {{selectedIntercambio.bienIntercambiableEntregado.descripcion}} - Recibe: {{selectedIntercambio.bienIntercambiableRecibido.descripcion}}</p>
          <p style="color:red;" *ngIf=" (tipoMovimiento.tipo === 'ENVIOINTERCAMBIO' && itemMovimiento.cantidad % selectedIntercambio.cantidadEntregada !== 0)">La cantidad debe ser multiplo de {{selectedIntercambio.cantidadEntregada}} </p>
        </div>
        <div *ngIf="tipoMovimiento.tipo === 'RECEPCION'">
          <div *ngFor="let doc of itemMovimiento.itemMovimientoTipoDoc"><!--Condicion: solo recepcion, devolucion-->
            <mat-form-field class="w70">
              <mat-label>Nro {{doc.tipoDocumento.descripcion}}</mat-label>
              <input matInput
                     type="text"
                     name="nroDocumento"
                     placeholder="Nro {{doc.tipoDocumento.descripcion}}"
                     [(ngModel)]="doc.nroDocumento"
                     required/>
            </mat-form-field>
          </div>
        </div>
      </div>


  </mat-dialog-content>

    <mat-dialog-actions class="botones">
      <button mat-button id="e111" class="mat-raised-button cancel"(click)="onCancel()">Cancelar</button>
      <button mat-button class="mat-raised-button mat-primary submit"
              (click)="onSubmit()"
              id="e112"
              [disabled]="!itemMovimiento || !agregarbien.valid || (tipoMovimiento.tipo === 'ENVIOINTERCAMBIO' && itemMovimiento.cantidad % selectedIntercambio.cantidadEntregada !== 0) ">Agregar Item</button>
    </mat-dialog-actions>

</form>
