div{
  display: block;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-size: 0.8em;
}

#e111 {
  width: auto;
  float: left;
}

#e112 {
  width: auto;
  float: right;
}


  .mat-dialog-actions {
      display: contents;
  }
