<h2 mat-dialog-title >Agregar Bien</h2>

<form #agregarbien="ngForm" >
  <mat-dialog-content fxLayout="column">
    <mat-form-field class="w70 tipoBien">
      <mat-label>Bien</mat-label>
      <mat-select  name="tipoBien"
                   [(ngModel)]="selectedBien"
                  (ngModelChange)="onChangeBien()"
                   required>
        <mat-option *ngFor="let bien of bienes" [value]="bien">
          {{bien.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div *ngIf="selectedBien != null" class="w70">
      <mat-form-field>
        <input matInput
               type="number"
               name="cantidad"
               placeholder="Cantidad"
               pattern="[0-9]+"
               title="Debe ingresar un número"
               [(ngModel)]="itemMovimiento.cantidad"
               required/>
        </mat-form-field>
        <div *ngFor="let doc of itemMovimiento.itemMovimientoTipoDoc">
          <mat-form-field >
            <mat-label>Nro {{doc.tipoDocumento.descripcion}}</mat-label>
            <input matInput
                   type="text"
                   name="nroDocumento"
                   placeholder="Nro {{doc.tipoDocumento.descripcion}}"
                   [(ngModel)]="doc.nroDocumento"
                   required/>

          </mat-form-field>
        </div>
        <mat-checkbox
                      name="vacio"
                      [(ngModel)]="itemMovimiento.vacio">BI vacío
        </mat-checkbox>
    </div>
  </mat-dialog-content>

    <mat-dialog-actions class="botones">
      <button mat-button class="mat-raised-button cancel"(click)="onCancel()">Cancelar</button>
      <button mat-button class="mat-raised-button mat-primary submit"
              (click)="onSubmit()"
              [disabled]="!agregarbien.valid">Agregar Item</button>
    </mat-dialog-actions>

</form>
