.btn-custom{
  width: 20vw;
  margin-left: 24vw;
}
.midle{
  width: 20vw;
  display: inline-block;
  margin-left: 5vw;
}
.midle2{
  width: 60vw;
  display: block;
  margin-left: 5vw;
}
span{
  display: block;
}
